header {
  .home-icon {
    background-color: rgb(62, 222, 122);
  }
}

.header {
  text-align: center;
}

.main {
  .player1_chat {
    width:20%;
    word-wrap: break-word;
    margin-left: 10%;
    float: left;
  }
  .enemy_hp{
    position: absolute;
    top:40%;
  }

  .player2_chat {
    width:20%;
    word-wrap: break-word;
    margin-right: 10%;
    float: right;
  }
}
