.game_title {
  font-size: 30px;
  text-align: center;
  background-color: rgb(65, 114, 179);
}

.contents {
  margin-top: 60px;
  text-align: center;


  .player_bt {
    .player1_button {
      display: inline-block;
    }

    .player2_button {
      display: inline-block;
      margin-bottom:5px;
    }

    .chat_button {

    }
  }
}
