.header {
  text-align: center;
  }

  #terms{
    font-family:'Sawarabi Mincho', sans-serif;
    font-weight: bold;
    position:fixed;
    left:25%;
    font-size: 300%;
    background-color: rgb(106, 193, 185);
    display:inline-block;
    width:50%;
    height:25%;
    padding-top:7%;
    text-align: center;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    opacity: 0;
}

  #counter{
    position:absolute;
    top:20%;
    left:20%;
    font-family: "Anton", sans-serif;
    font-size:300%;
    text-align: center;
    display: inline-block;
    background-color: rgb(78, 71, 74);
    color:rgb(51, 174, 233);
    width:8%;
  }

  .button{
    display: inline-block;
    .home_bt {
    }

    .replay_bt {
    }
}

.next_stage_bt{
  position: fixed;
  top:60%;
  left:43%;
  text-align: center;
}


.main {
  position: fixed;
  top: 80%;
  left:42%;
  text-align: center;
}

.input_word {
  position: fixed;
  top: 85%;
  left:44%;
  text-align: center;

}

.button {
  position: fixed;
  top:90%;
  left:42%;
  text-align: center;
  .home_bt {
    display: inline-block;

  }

  .replay_bt {
    display: inline-block;
  }
}
